.number-pad,
.operator-pad {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.number-pad {
    width: 300px;
}

.operator-pad {
    width: 100px;
}

.key {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 100ms linear;
    cursor: pointer;
}

.key:hover {
    background: #EAEAEA;
}

.number-key {
    height: 100px;
    width: 100px;
    background: #AEAEAE;
}

.operator-key {
    height: 100px;
    width: 100px;
    background: moccasin;
}

.submit-key {
    background: orange;
    height: 100px;
    font-size: 48px;
}